<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 手書きcss, <head>の中に以下のcssを入れる -->
    <!--<link rel="stylesheet" th:href=@{/css/todo_css.css} /> -->

    <!-- bootstrap, <head>の中に以下のcss,jsを入れる -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"/>
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <!--                                           -->

    <title>ToDoリスト</title>
</head>

<form role="form" th:action="@{/allUserToDoList}" method="get">
    <input type="submit" value="みんなのToDoリストを見に行く" />
</form>

<input type="button" value="戻る" onclick="history.back()" />
<body>
    <h1><p>[[*{member.name}]]さんのページ</p></h1>
    
    <form role="form" th:action="@{/__${mid}__/list/add_toDo}" th:object="${ToDoForm}" method="post">
        <table border="1">
            <tr>
                <td><label>ToDoを追加する:　　</label></td>
                <td><input type="text" required th:field="*{title}" /></td>
                <td><input type="submit" value="追加する" /></td>
            </tr>
        </table>
    </form>

    
    <table border="1" class="table">
        <h3>　[[*{member.name}]]さんのToDoリスト</h3>
        <!-- <tr>
            <th>　　ToDoのID　　</th>
            <th>　　　ToDo　　　</th>
            <th>　ToDo作成日時　</th>
        </tr> -->
        <thead class="thead-dark">
            <tr>
              <th>　　ToDoのID　　</th>
              <th>　　　ToDo　　　</th>
              <th>　ToDo作成日時　</th>
            </tr>
        </thead>
        <tr th:each="t: ${toDos}">
            <td>[[${t.seq}]]</td>
            <td>[[${t.title}]]</td>
            <td>[[${t.createdAt}]]</td>
            <td><td><a th:href=@{/__${t.seq}__/__${mid}__/list/doneToDo}> 完了 </a></td></td>
        </tr>

    
    <table border="1" class="table">
        <h3>　[[*{member.name}]]さんのDoneリスト</h3>
        <thead class="thead-dark">
            <tr>
                <th>終わったToDoのID</th>
                <th>　終わったToDo　</th>
                <th>　ToDo完了日時　</th>
            </tr>
        </thead>
        <tr th:each="d: ${dones}">
            <td>[[${d.seq}]]</td>
            <td>[[${d.title}]]</td>
            <td>[[${d.doneAt}]]</td>
            <td><td><a th:href=@{/__${d.seq}__/__${mid}__/list/InvDoneToDo}>未完了
            </a></td></td>
        </tr>
    </table>
</body>
</html>